{% extends "base.html" %} {% block content %}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
        <h2>{{ coffee.name }}</h2>
        <img src="{{ url_for('static', filename='uploads/' + coffee.image) }}" style="max-width: 100%;"
            alt="{{ coffee.name }}" />
    </div>

    <div class="mdl-cell mdl-cell--6-col">
        <h3>Bewertung hinzufügen</h3>

        <form action="" method="POST">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="user_name" name="user_name">
                <label class="mdl-textfield__label" for="user_name">Dein Name</label>
            </div>

            <div class="rating-stars">
                <input type="radio" id="star5" name="rating" value="5" />
                <label for="star5"></label>
                <input type="radio" id="star4" name="rating" value="4" />
                <label for="star4"></label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label for="star3"></label>
                <input type="radio" id="star2" name="rating" value="2" />
                <label for="star2"></label>
                <input type="radio" id="star1" name="rating" value="1" />
                <label for="star1"></label>
            </div>

            <div class="mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" rows="3" id="comment" name="comment"></textarea>
                <label class="mdl-textfield__label" for="comment">Dein Kommentar</label>
            </div>

            <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">Bewertung abgeben</button>
        </form>
    </div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h3>Bewertungen</h3>

        {% for review in coffee.reviews %}
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Bewertung von {{ review.user_name }}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                {% for i in range(review.rating) %}★{% endfor %}{% for i in range(5 - review.rating) %}☆{% endfor %}
                <p>{{ review.comment }}</p>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<a href="{{ url_for('index') }}" class="mdl-button mdl-js-button mdl-button--raised">Zurück zur Übersicht</a>

{% endblock %}